doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title resume
    style.
      @font-face {
        font-family: 'sofia';
        src: url('/sofiabold.ttf');
        font-weight: 700;
      }
      @font-face {
        font-family: 'sofia';
        src: url('/sofia.ttf');
        font-weight: 600;
      }
      @font-face {
        font-family: 'sofia';
        src: url('/sofialight.ttf');
      }
      body {
        background: white;
        font-family: "sofia", Helvetica, sans-serif;
        margin: 0;
        font-size: 13.3px;
        padding: 0;
        line-height: 1.13;
      }
      #sidebar {
        background: black;
        min-width: 2.2in;
        padding: 1.2rem;
        color: #FAFAFA
      }
      #name {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        font-size: 2rem;
        text-align: center;
        border-bottom: 1px solid white
      }
      #sidebar ul {
        line-height: 1.5rem;
        padding-left: 0;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem
      }
      #contact li {
        list-style-type: none;
      }
      #skills .title {
        text-decoration: underline;
        margin-bottom: 0.25rem
      }
      #skills ul {
        margin-top: 0.5rem
      }
      #skills li {
        list-style-type: none;
        display: flex;
        justify-content: space-between
      }
      .stars {
        display: none;
        align-items: center;
        justify-content: flex-end;

      }
      .stars img {
        margin: 0;
        height: 8px;
        margin-left: 2px
      }
      #main {
        flex-grow: 1;
        background: #fafafa;
        padding: 1.3rem;
        padding-right: 1.5rem;
        display: flex;
        line-height: 1.3rem;
        flex-direction: column;
      }
      .project {
        margin-bottom: 0.8rem
      }
      .e-head, .project-head {
        display: flex;
        flex-direction: row;
        justify-content: space-between
      }
      .section-header {
        display: flex;
      }
      .section-header > .title {
        font-size: 1.2rem;
      }
      .e-head, .project-head {
        margin-top: 0.6rem;
        font-weight: 700
      }
      .section-header .seperator {
        background: black;
        height: 1px;
        align-self: center;
        margin-left: 0.5rem;
        flex-grow: 1
      }
      .section {
        margin-bottom: 1rem
      }
      #container {
        flex-direction: row;
        display: flex;
        width: 8.5in;
        height: 11in;
        margin: 0 auto
      }
      img {
        height: 16px;
        transform: translateY(25%);
        margin-right: 8px;
        -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
        filter: invert(100%);
        background: white;
      }
      .card * {
        display: inline
      }

      #card-container {
        padding-top: 6px
      }

      .card-title::after {
        content: " — "
      }
      .card-description {
          font-weight: bold
      }
  body
    #container
      #sidebar
        #name
          | Aaron 
          br
          | Huang
        #subtitle
          | Computer Science Student 
          | @ UC Berkeley
        #contact
          ul
            li
              img(src="/ico/mail.svg" )
              | aahuang@berkeley.edu
            li
              img(src="/ico/smartphone.svg" )
              | 415.812.6317
            li
              img(src="/ico/linkedin.svg" )
              | aaronkh
            li
              img(src="/ico/github.svg" )
              | aaronkh
        #skills
          .title
            | Skills
          ul
            li
              div HTML5/CSS/JS
            li
              div NodeJS
            li
              div Python
            li
              div Java
            li
              div Android
            li
              div React + React Native
      #main
        #e.section
          .section-header
            .title Experience & Education
            .seperator
          #e-container
            .e-head
              .e-title Soracom (Software Engineering Intern)
              .e-date jun 2018 - current
            .e-description
              | Added surge pricing, location tracking, and Android app controls 
              | onto an electric scooter with React Native, Soracom's cellular services, and AWS.
              | Published articles and videos about the development process on Hackernoon.
            .e-head
              .e-title UC Berkeley (Student)
              .e-date aug 2018 - current
            .e-description 
              | Second year intended BA in Computer Science
              br
              | Planned graduation in May 2022
            .e-head
              .e-title Data Science Society (General Member)
              .e-date jan 2019 - jun 2019
            .e-description 
              | Analyzed and presented crime data and gun control data in the US using
              | Python and JavaScript (Pandas, NumPy, d3.js) for a biannual research
              | symposium.
            .e-head
              .e-title Project Loaf (Mobile Development)
              .e-date jun 2017 - aug 2017
            .e-description 
              | Designed and developed an Android app that allows storekeepers 
              | to manage and optimize foot traffic in stores. Used multiple Raspberry Pi Zero W's to track customers' 
              | location indoors using WiFi and Bluetooth probe requests.
        #cards.section
          .section-header
            .title Relevant Coursework
            .seperator
          #card-container
            .card
              .card-description
                | Principles and Techniques of Data Science (DATA 100)
            .card
              .card-description
                | Designing Information Devices and Systems (EE 16A)
            .card
              .card-description
                | Data Structures (CS 61B)
        #projects.section
          .section-header
            .title Projects
            .seperator
          .project
            .project-head
              .project-name nowo's ark
              .project-date HackSC (Apr 2019)
            .project-desc
              | Built an inexpensive flood detection and alert system for third world countries
              | using a PVC pipe, a Qualcomm Dragonboard, Twilio SMS API, and a Cloudflare serverless worker.
              | Used OmniSci for data visualization and analysis.
              br
              em (Awarded Cloudflare Best Use of Serverless and Best Use of Qualcomm 410c Dragonboard)
            .project
              .project-head
                .project-name Muicrowave
                .project-date SLO Hacks (Feb 2019)
              .project-desc
                | Built a web interface and Node.js Express server hosted on Google Cloud Platform to 
                | turn a Craigslist-salvaged microwave smart with
                | an Amazon Alexa skill, computer vision, and a surge pricing payment system.
                br
                em (Awarded Best IoT Hack and Best Use of Qualcomm 410c Dragonboard)
            .project
              .project-head
                .project-name PictRNNary
                .project-date CalHacks 5.0 (Nov 2018)
              .project-desc
                | Created a web app for an AI-powered pictionary game with speech and speaker recognition.
                | Powered by Microsoft Azure APIs, a Node.js backend, and a recurrent neural network
                | for generating images.
                br
                em (Awarded Best Use of Microsoft and Regional Microsoft Imagine Cup Semifinalist awards)
            .project
              .project-head
                .project-name Blindsight
                .project-date TechCrunch Hackathon (Sep 2018)
              .project-desc
                | Built an Android app with speech and object recognition, 
                | Bluetooth support, and haptic feedback
                | for an assistive smartwatch-like device for the visually impaired. Featured on Hackster.io,
                | Makezine, CBS, and 2018 US-China Young Maker Competition.
                br
                em (Awarded Visa API, HERE Mobility SDK, and semi-finalist awards)
            
